.env
.DS_Store
serviceAccountKey.json
node_modules
junctionx-hackathon-firebase-adminsdk-fbsvc-b9ad2c64f0.json
venv
__pycache__
*.log
backend/core/data/fotos_invasoras
backend/core/data/processed_acacia_dataset
backend/core/ml_model_final/data_stuff/data
backend/core/ml_model_final/data_stuff/reorganized_dataset
backend/core/ml_model_final/data_stuff/shapes
runs
runs_dani